body {
  width: 75%;
  max-width: 1000px;
  min-width: 700px;
  margin: auto;
}

header {
  font-size: 2.3rem;
  font-family: fantasy;
}

.avg {
  font-size: 1.5rem;
  text-align: center;
}

.main {
  display: flex;
}

table {
  width: 65%;
  max-width: 1000px;
  margin: auto;
  border: 3px solid black;
}
td {
  border: 2px solid black;
}

form {
  vertical-align: baseline;
  max-width: 100px;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

input {
  margin-top: 20px;
}

.button {
  position: absolute;
  right: 7rem;
  margin: 15px;
}
