body {
  width: 60%;
  max-width: 1000px;
  margin: auto;
}

header {
  font-size: 2.3rem;
  font-family: fantasy;
}

.avg {
  font-size: 1.5rem;
  text-align: center;
}

table {
  width: 60%;
  max-width: 1000px;
  margin: auto;
}
